<form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center" *ngIf="!Isregister">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
      class="p-2 border-2 mb-3"
    />
    <mat-label>Senha</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      placeholder="Contém caracteres e números"
      class="p-2 border-2 mb-3"
    />
  <button mat-raised-button type="submit">Entrar</button>
  <button mat-raised-button (click)="register()">Registrar</button>
</form>
<app-register *ngIf="Isregister"></app-register>
