<div class="flex justify-end pr-2 pt-2" (click)="closedModel()">
  <mat-icon class="opacity-50 cursor-pointer">close</mat-icon>
</div>
<form
  class="example-form overflow-y-auto overflow-x-hidden p-4 flex flex-col"
  [formGroup]="productsForm"
  (ngSubmit)="onSubmit()"
>
  <mat-label>Tipo do produto</mat-label>
  <mat-form-field>
    <mat-label>Selecione uma opção</mat-label>
    <mat-select formControlName="productType">
      <mat-option value="Prato">Prato</mat-option>
      <mat-option value="Bebida">Bebida</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-label>Nome do produto</mat-label>
  <input
    type="text"
    matInput
    formControlName="productName"
    placeholder="Banana"
    class="p-2 border-2 mb-3"
  />
  <mat-label>Preço do produto</mat-label>
  <input
    type="number"
    matInput
    formControlName="productPrice"
    placeholder="Contém caracteres e números"
    class="p-2 border-2 mb-3"
    thousandSeparator="."
    decimalSeparator=","
  />
  <mat-label>Descrição do produto</mat-label>
  <input
    type="text"
    matInput
    formControlName="productDescription"
    placeholder="Descreva o produto"
    class="p-2 border-2 mb-3"
  />
  <mat-label>Imagem do produto</mat-label>
  <label for="" class="custom-file-input w-full pb-6">
    <input
      type="file"
      (change)="onFileChangeImage($event)"
      accept="image/*"
      class="w-full"
    />
    <span class="w-full">{{
      file ? file.name : "Nenhum arquivo selecionado"
    }}</span>
  </label>
  <button
    mat-raised-button
    type="submit"
    [class.spinner]="loading"
    [disabled]="loading"
  >
    Registrar produto
  </button>
</form>
