<div class="flex justify-end pr-2 pt-2" (click)="closedModel()">
  <mat-icon class="opacity-50 cursor-pointer">close</mat-icon>
</div>
<div class="flex flex-col w-full p-4">
  <form
    class="example-form"
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col items-start p-9"
  >
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
      class="p-2 border-2 w-full"
    />
    <mat-error *ngIf="userForm.controls.email.hasError('email') && submitted"
      >Email invalido</mat-error
    >
    <mat-label class="pt-3">Nome</mat-label>
    <input
      type="text"
      matInput
      formControlName="name"
      placeholder="Seu nome"
      class="p-2 border-2 w-full"
    />
    <mat-error *ngIf="userForm.controls.name.hasError('minlength') && submitted"
      >Nome invalido</mat-error
    >
    <div class="pt-6 w-full text-center">
      <button
        mat-raised-button
        type="submit"
        class="!text-white !bg-yellow-700 p-3 w-full rounded  max-w-[350px]  text-center"
      >
        Editar
      </button>
    </div>
  </form>
</div>
