<div class="flex justify-end pr-2 pt-2" (click)="closedModel()">
  <mat-icon class="opacity-50 cursor-pointer">close</mat-icon>
</div>
<form
  class="example-form"
  [formGroup]="loginForm"
  (ngSubmit)="onSubmit()"
  class="flex flex-col items-center p-9"
>
  <div class="flex flex-col items-start w-full">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
      class="p-2 border-2 w-full"
    />
    <mat-error *ngIf="loginForm.controls.email.hasError('email') && submitted"
      >Email invalido</mat-error
    >
    <mat-error
      *ngIf="loginForm.controls.email.hasError('required') && submitted"
      >Email obrigatório</mat-error
    >
    <mat-label class="pt-3">Senha</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      placeholder="Contém caracteres e números"
      class="p-2 border-2 w-full"
    />
    <mat-error
      *ngIf="loginForm.controls.password.hasError('required') && submitted"
      >Senha obrigatória</mat-error
    >
    <mat-error
      *ngIf="loginForm.controls.password.hasError('minlength') && submitted"
      >Senha invalida</mat-error
    >
    <mat-radio-group
      aria-label="Select an option"
      formControlName="typeAccount"
      class="p-1"
    >
      <mat-radio-button value="client">Cliente</mat-radio-button>
      <mat-radio-button value="colaborator">Colaborador</mat-radio-button>
    </mat-radio-group>
    <mat-error
      *ngIf="loginForm.controls.typeAccount.hasError('required') && submitted"
      >Campo obrigatório</mat-error
    >
    <div *ngIf="loginForm.value.typeAccount == 'client'" class="w-full">
      <mat-label>Nome Completo</mat-label>
      <input
        type="text"
        matInput
        formControlName="name"
        placeholder="Nome Completo"
        class="p-2 border-2 w-full"
      />
      <mat-error
        *ngIf="loginForm.controls.name.hasError('required') && submitted"
        >Nome obrigatório</mat-error
      >
    </div>
    <div *ngIf="loginForm.value.typeAccount == 'colaborator'" class="w-full">
      <div>
        <mat-label>Nome da empresa</mat-label>
        <input
          type="text"
          matInput
          formControlName="nameCompany"
          placeholder="Nome da empresa"
          class="p-2 border-2 w-full"
        />
        <mat-error
          *ngIf="
            loginForm.controls.nameCompany.hasError('required') && submitted
          "
          >Campo obrigatório</mat-error
        >
      </div>
      <div class="mt-3">
        <mat-label>Telefone da empresa</mat-label>
        <input
          type="text"
          matInput
          formControlName="phoneCompany"
          placeholder="(34) 3218-9821"
          [textMask]="{ mask: mask }"
          class="p-2 border-2 w-full"
        />
        <mat-error
          *ngIf="
            loginForm.controls.phoneCompany.hasError('required') && submitted
          "
          >Telefone obrigatório</mat-error
        >
      </div>
      <div class="mt-3">
        <mat-label>Endereço da empresa</mat-label>
        <input
          type="text"
          matInput
          formControlName="adressCompany"
          placeholder="Endereço"
          class="p-2 border-2 w-full"
        />
        <mat-error
          *ngIf="
            loginForm.controls.adressCompany.hasError('required') && submitted
          "
          >Endereço obrigatório</mat-error
        >
      </div>
      <div class="mt-3">
        <mat-label>Logo da empresa</mat-label>
        <label class="custom-file-input w-full">
          <input
            type="file"
            (change)="onFileChangeLogo($event)"
            accept="image/*"
            class="w-full"
          />
          <span class="w-full">{{
            file ? file.name : "Nenhum arquivo selecionado"
          }}</span>
        </label>
      </div>
    </div>
  </div>
  <mat-error *ngIf="error" class="pt-2">Usuário já existe</mat-error>
  <div class="pt-6 w-full">
    <button
      mat-raised-button
      type="submit"
      class="!text-white pt-4 !bg-yellow-700 !w-full"
      [class.spinner]="loading"
      [disabled]="loading"
    >
      Registrar
    </button>
  </div>
</form>
