<div class="text-center text-white max-w-[700px] h-full m-auto flex flex-col justify-center items-center">
  <h2 class="!font-bold">Venha conhecer e Eatasy</h2>
  <div class="pt-4">
    <p class="text-sm font-sans">
      Temos os melhores restaurantes em nosso site, onde você possui diversas
      variades para drinks e comida.
    </p>
    <p class="text-sm font-sans">
      Quer ter segurança e também os melhores pratos a sua disposição? Faça um
      pedido em nosso site!!
    </p>
  </div>
  <div class="flex justify-evenly items-center w-full p-3">
    <button
      mat-raised-button
      type="submit"
      class="!bg-yellow-600 !text-white w-[104px]"
      (click)="openModalLogin()"
    >
      Entrar
    </button>
    <button
      mat-raised-button
      type="submit"
      class="!text-yellow-600"
      (click)="openModalRegister()"
    >
      Cadastrar
    </button>
  </div>
  <div class="pt-7">
    <h4 class="text-sm">
      A Eatasy é uma empresa inovadora com o objetivo de simplificar a
      experiência de pedir comida. Com uma plataforma
      online intuitiva, ela conecta clientes a uma ampla variedade de
      restaurantes locais.
    </h4>
  </div>
</div>
