<div class="text-center pt-24">
  <h2 class="!font-bold">Venha conhecer e Eatasy</h2>
  <div class="pt-4">
    <p class="text-sm font-sans">
      Temos os melhores restaurantes em nosso site, onde você possui diversas
      variades para drinks e comida.
    </p>
    <p class="text-sm font-sans">
      Quer ter segurança e também os melhores pratos a sua disposição? Faça um pedido em nosso site!!
    </p>
  </div>
  <div class="pt-7">
    <h3 class="!font-bold">Aqui estão alguns de nossos colaboradores</h3>
  </div>
</div>
