<div class="p-4">
  <h2>{{ title }}</h2>
  <div class="flex overflow-x-auto scrollbar-hide">
    <div *ngFor="let product of products" class="flex-shrink-0 w-64 mx-4">
      <div class="bg-white p-6 rounded-lg shadow-md">
        <img
          [src]="product.productImage"
          alt="{{ product.productName }}"
          class="w-full h-32 object-cover mb-4 rounded-md"
        />
        <!-- <div class="text-gray-700 font-bold mb-2">
        {{ product.productType }}
      </div> -->
        <div class="text-xl mb-2">
          {{ product.productName }}
        </div>
        <div class="flex items-center justify-between">
          <div class="text-gray-600">
            {{ product.productPrice | currency : "BRL" }}
          </div>
          <div class="text-gray-600">
            {{ product.productDescription }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
