/* Adicione este estilo ao seu arquivo de folha de estilo CSS */
.scroll-container {
  max-width: 980px; /* Defina a largura máxima desejada para o contêiner */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
}

.scroll-container::-webkit-scrollbar-track {
  background-color: transparent;
}
