.mat-carousel {
  width: 100%;
  overflow: hidden;

  .mat-carousel-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    width: 100%;
    max-width: 400px; /* Defina o tamanho máximo do cartão conforme necessário */
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
}
