<div class="p-4 h-full bg-[#F0F0F0]">
  <div class="flex justify-end items-center mb-4">
    <div>
      <mat-icon [matMenuTriggerFor]="contextMenu" class="cursor-pointer text-[50px] !w-14 !h-14"
        >account_circle</mat-icon
      >
      <mat-menu #contextMenu="matMenu">
        <button mat-menu-item (click)="editarPerfil()">Editar Perfil</button>
        <button mat-menu-item (click)="sair()">Sair</button>
      </mat-menu>
    </div>
  </div>

  <div class="text-center mb-4">
    <mat-form-field class="example-form-field w-full max-w-[640px]">
      <mat-label>Pesquisar</mat-label>
      <input matInput type="text" placeholder="Pesquise por restaurante, comida ou descrição" (keyup)="filterCompanies($event)" />
      <button matSuffix mat-icon-button aria-label="search">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="text-center">
    <h2>Restaurantes</h2>
    <div class="flex justify-center items-center pb-5">
      <div
        class="grid grid-cols-sm md:grid-cols-md lg:grid-cols-lg gap-4 max-w-[980px] mx-auto"
        *ngIf="companies?.length; else notCompanies"
      >
        <div
          *ngFor="let company of companies"
          (click)="openDetailsCompany(company)"
        >
          <div
            class="bg-white p-4 rounded-md shadow-lg flex items-center max-w-96 h-[150px] cursor-pointer transition-transform transform hover:scale-105"
          >
            <div class="w-1/3">
              <img
                [src]="
                  company.logoCompany
                    ? company.logoCompany
                    : '../../assets/default-image.jpg'
                "
                alt="{{ company.nameCompany }}"
                class="w-20 h-20 rounded-md object-cover mb-2"
              />
            </div>
            <div class="w-2/3 text-center">
              <p class="font-bold text-lg">
                {{ company.nameCompany }}
              </p>
              <p class="">
                {{ company.adressCompany }}
              </p>
              <p class="">
                {{ company.phoneCompany }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #notCompanies>
      <h4>
        Nenhum restaurante, produto ou descrição do produto foi encontrado
      </h4>
    </ng-template>
  </div>
</div>
